body {
  font-family: "Raleway", sans-serif;
}
.div1 {
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 1300px;
  height: 110%;*/
  background-color: rgb(252, 230, 233);
  /*pink rgb(231,97,151)
  blue rgb(19,69,128)*/
}
.div2 {
}
body {
  margin-top: 30px;
}
.div3 {
  background-color: blue;
  height: 990px;
}
.logo {
  transition: transform 0.5s;
}
.logo:hover {
  transform: scale(1.3);
}
.first-img {
  background-image: url(https://www.baskinrobbins.com/content/dam/br/img/masthead/2020_W2/homepagemastheaddesktop-doordash-1440x600.jpg);
  background-size: cover;
  height: 500px;
  background-position: center;
}
.menu {
  text-align: center;
}
.tile {
  color: rgb(19,69,128);
  font-size: 25px;
  margin: 4%;
}

@media screen and (max-width: 800px) {
  .div1 {
    position: absolute;
    top: 0px;
  }
  .tile{
      font-size: 15px;
  }
}
